body {
  font-family: sans-serif;
}

h1{
  border-bottom: 1px solid #000fe2;
}

.App {
  text-align: center;
}

.upper {
  display: flex;
  justify-content: center;
}
.now-area {
  text-align: center;
  background-color: #fffafa;
  box-shadow: 5px 5px #f5f5f5;
  width: 400px;
  padding: 20px;
  margin: 8px;
  border-radius: 8px;
}
.nowtime {
  font-size: 25px;
}

.nowplace{
  font-size: 25px;
}
.nowtemps{
  padding-top: 30px;
  display: flex;
  justify-content:space-around;
}
.nowtemps2{
  padding: 20px 0;
}

.nowtemp{
  font-size: 30px;
  font-weight:bold;
}

dt {
  float: left;
  padding-left: 30px;
}

dt::after {
  content: "：";
}

.dayly-area {
  text-align: center;
  background-color: #fffafa;
  box-shadow: 5px 5px #f5f5f5;
  width: 400px;
  padding: 20px;
  margin: 8px;
  border-radius: 8px;
}

.dayly {
  display: flex;
}

.daylyd {
  width: 60px;
}

.daylyi {
  width: 90px;
}

.daylym {
  width: 150px;
}

.daylyde {
  width: 100px;
}

.hourly-area {
  background-color: #fffafa;
  box-shadow: 5px 5px #f5f5f5;
  width: 850px;
  padding: 25px;
  margin: 0 auto;
  border-radius: 8px;
}
.title {
  text-align: left;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
  font-size: 20px;
}
